{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nfs-quota-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nfs-quota-agent.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "nfs-quota-agent.selectorLabels" . | nindent 4 }}
{{- end }}
